body{
    background-color: #262626;
    margin: 1px;
    
}
h1{
    text-align: center;
    color: #f5f5f5;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 115px;
}
h2{
    text-align: center;
    color: #f5f5f5;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 1px;
}
:placeholder-shown{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #262626;
}

#email{
    margin-left: 890px;
    transform: scale(2);
    
}

#password{
    margin-left: 890px;
    transform: scale(2);
}

#boton{
    margin-left: 915px;
    transform: scale(2);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #757575;}



